In [ ]:
Шаг 1. Парсинг

# Шаг 2. Предварительная обработка

1. Сначала мы создали DataFrame на основе полученных данных:

In [4]:
import pandas as pd
import json


y = []
with open("data\data_combined.json", 'r', encoding='utf-8') as f:
    y = json.load(f)

a = []
for elem in (y[list(y.keys())[i]][20] for i in range(len(list(y.keys())))):
    if elem == 1:
        a.append('Без ремонта')
    elif elem == 2:
        a.append('Косметический')
    elif elem == 3:
        a.append('Евроремонт')
    elif elem == 4:
        a.append('Дизайнерский')
    else:
        a.append(0)

df = pd.DataFrame()


df['Собственник'] = list(y[list(y.keys())[i]][1] for i in range(len(list(y.keys()))))
df['Цена аренды'] = list(y[list(y.keys())[i]][0] for i in range(len(list(y.keys()))))
df['Описание'] = list(y[list(y.keys())[i]][9] for i in range(len(list(y.keys()))))
df['Минимальное время до метро, мин'] = list(y[list(y.keys())[i]][2] for i in range(len(list(y.keys()))))
df['Общая площадь, \xa0м²'] = list(y[list(y.keys())[i]][3] for i in range(len(list(y.keys()))))
df['Жилая площадь, \xa0м²'] = list(y[list(y.keys())[i]][4] for i in range(len(list(y.keys()))))
df['Площадь кухни, \xa0м²'] = list(y[list(y.keys())[i]][5] for i in range(len(list(y.keys()))))
df['Этаж квартиры'] = list(y[list(y.keys())[i]][6] for i in range(len(list(y.keys()))))
df['Этажей в доме'] = list(y[list(y.keys())[i]][7] for i in range(len(list(y.keys()))))
df['Год постройки'] = list(y[list(y.keys())[i]][8] for i in range(len(list(y.keys()))))


df['Холодильник'] = list(y[list(y.keys())[i]][10] for i in range(len(list(y.keys()))))
df['Посудомоечная машина'] = list(y[list(y.keys())[i]][11] for i in range(len(list(y.keys()))))
df['Мебель в комнатах'] = list(y[list(y.keys())[i]][13] for i in range(len(list(y.keys()))))
df['Телевизор'] = list(y[list(y.keys())[i]][14] for i in range(len(list(y.keys()))))
df['Интернет'] = list(y[list(y.keys())[i]][15] for i in range(len(list(y.keys()))))
df['Кондиционер'] = list(y[list(y.keys())[i]][16] for i in range(len(list(y.keys()))))
df['Душевая кабина'] = list(y[list(y.keys())[i]][17] for i in range(len(list(y.keys()))))
df['Ванна'] = list(y[list(y.keys())[i]][18] for i in range(len(list(y.keys()))))




df['Тип ремонта'] = a
df['Можно с детьми'] = list(y[list(y.keys())[i]][21] for i in range(len(list(y.keys()))))
df['Можно с животными'] = list(y[list(y.keys())[i]][22] for i in range(len(list(y.keys()))))
df['Полный адрес'] = list(y[list(y.keys())[i]][25] for i in range(len(list(y.keys()))))
df['Улица'] = list(y[list(y.keys())[i]][26] for i in range(len(list(y.keys()))))
df['Район'] = list(y[list(y.keys())[i]][27] for i in range(len(list(y.keys()))))
df['Рекомендованная цена'] = list(y[list(y.keys())[i]][28] for i in range(len(list(y.keys()))))
df['Залог'] = list(y[list(y.keys())[i]][29] for i in range(len(list(y.keys()))))
df['Комиссия'] = list(y[list(y.keys())[i]][30] for i in range(len(list(y.keys()))))
df['Предоплата'] = list(y[list(y.keys())[i]][31] for i in range(len(list(y.keys()))))
df['Длительность съёма'] = list(y[list(y.keys())[i]][32] for i in range(len(list(y.keys()))))
df['Возможность торга'] = list(y[list(y.keys())[i]][33] for i in range(len(list(y.keys()))))





df.head().style.hide_index()

2. Затем составили таблицу, в которой рассмотрели, сколько 0 мы получили по каждому из признаков в прцентном соотношении:

In [5]:
df[df == 0].count(axis=0)/df.shape[0] * 100

Собственник                         0.000000
Цена аренды                         0.000000
Описание                            0.000000
Минимальное время до метро, мин     8.689840
Общая площадь,  м²                  9.090909
Жилая площадь,  м²                 32.620321
Площадь кухни,  м²                 34.491979
Этаж квартиры                       9.090909
Этажей в доме                       9.090909
Год постройки                      48.529412
Холодильник                        11.831551
Посудомоечная машина               28.877005
Мебель в комнатах                  15.574866
Телевизор                          11.363636
Интернет                           19.585561
Кондиционер                        18.783422
Душевая кабина                     35.895722
Ванна                              54.077540
Тип ремонта                        10.561497
Можно с детьми                      0.000000
Можно с животными                   0.000000
Полный адрес                        0.000000
Улица                               0.000000
Район                               0.000000
Рекомендованная цена               15.307487
Залог                               5.080214
Комиссия                           82.419786
Предоплата                          2.473262
Длительность съёма                  0.000000
Возможность торга                  93.449198
dtype: float64

Очевидно, что по некоторым признакам их совсем нет. А по некоторым признакам 0 может означать отсутствие какой-либо возможности или запрет. Мы решили исходить из того, что если что-то прямо не разрешено в объявлении и, как следствие, не указано в нём, то оно именно отсутсвует или запрещено. Поэтому 0 в столбцах "Возможность торга", "Предоплата", "Комиссия", "Залог", "Рекомендованная цена" мы пометили как "Отсутствует". А в столбцах "Можнос детьми" и "Можно с животными" 0 - это "Нет"

In [7]:
price_rec =[]
for elem in (y[list(y.keys())[i]][28] for i in range(len(list(y.keys())))):
    if elem == 0:
        price_rec.append('Отсутсвует')
    else:
        price_rec.append(elem)
        
zalog = []
for elem in (y[list(y.keys())[i]][29] for i in range(len(list(y.keys())))):
    if elem == 0:
        zalog.append('Отсутсвует')
    else:
        zalog.append(elem)

commission = []        
for elem in (y[list(y.keys())[i]][30] for i in range(len(list(y.keys())))):
    if elem == 0:
        commission.append('Отсутсвует')
    else:
        commission.append(elem)        
        
latitude = []        
for elem in (y[list(y.keys())[i]][32] for i in range(len(list(y.keys())))):
    if elem == 0:
        latitude.append('Отсутсвует')
    else:
        latitude.append(elem)       
        
prepay = []
for elem in (y[list(y.keys())[i]][31] for i in range(len(list(y.keys())))):
    if elem == 0:
        prepay.append('Отсутсвует')
    else:
        prepay.append(elem)
        
chaffer = []
for elem in (y[list(y.keys())[i]][33] for i in range(len(list(y.keys())))):
    if elem == 0:
        chaffer.append('Отсутсвует')
    else:
        chaffer.append(elem)
kids = []
for elem in (y[list(y.keys())[i]][21] for i in range(len(list(y.keys())))):
    if elem == 0:
        kids.append("Нет")
    else:
        kids.append('Да')

pets = []
for elem in (y[list(y.keys())[i]][22] for i in range(len(list(y.keys())))):
    if elem == 0:
        pets.append("Нет")
    else:
        pets.append('Да')      
        
        
df['Рекомендованная цена'] = price_rec
df['Залог'] = zalog
df['Комиссия'] = commission
df['Предоплата'] = prepay
df['Длительность съёма'] = latitude
df['Возможность торга'] = chaffer
df['Можно с детьми'] = kids
df['Можно с животными'] = pets

df.head().style.hide_index()

Что до остальных пропусков, то нигде они не превышают 50%, а значит у нас остаётся более 500 строк с этими признаками непропущенными. Мы решили их оставить и обозначить нули как "Нет данных", потому что очевидно, что для проверки большинства возможных гипотез не понадобится смотреть на все столбцы. Следовательно, можно выдвигать и проверять гипотезы, рассматривая только строки с данными, комбинируя некоторые части таблицы и игнорируя остальные.

In [ ]:
for elem in list(df.columns):
    df.loc[df[elem]==0, elem] = 'Нет данных'
df.sample(10)

# Шаг 3. Создание новых признаков

In [ ]:
С ходу придумываются только новостройка/относительно старое здание (нужно договориться о годе постройки),
находится ли район в центре,
сколько квартир у данного собственника

# Шаг 4. Визуализация

In [ ]:
График i. код + комментарий (описание графика). Нужно выдвинуть гипотезу на основе графика.

# Шаг 5. Работа с pandas

In [ ]:
Проверка гипотезы из пункта 5 с помощью группировки данных.