In [33]:
import pandas as pd
import json

In [34]:
# columns = ['цена аренды', ]

y = []
with open("data\data_combined.json", 'r', encoding='utf-8') as f:
    y = json.load(f)

a = []
for elem in (y[list(y.keys())[i]][20] for i in range(len(list(y.keys())))):
    if elem == 1:
        a.append('Без ремонта')
    elif elem == 2:
        a.append('Косметический')
    elif elem == 3:
        a.append('Евроремонт')
    elif elem == 4:
        a.append('Дизайнерский')
    else:
        a.append(0)

kids = []
for elem in (y[list(y.keys())[i]][21] for i in range(len(list(y.keys())))):
    if elem == 0:
        kids.append("Нет")
    else:
        kids.append('Да')

pets = []
for elem in (y[list(y.keys())[i]][22] for i in range(len(list(y.keys())))):
    if elem == 0:
        pets.append("Нет")
    else:
        pets.append('Да')

df = pd.DataFrame()


df['Собственник'] = list(y[list(y.keys())[i]][1] for i in range(len(list(y.keys()))))
df['Цена аренды'] = list(y[list(y.keys())[i]][0] for i in range(len(list(y.keys()))))
df['Описание'] = list(y[list(y.keys())[i]][9] for i in range(len(list(y.keys()))))
df['Минимальное время до метро, мин'] = list(y[list(y.keys())[i]][2] for i in range(len(list(y.keys()))))
df['Общая площадь, \xa0м²'] = list(y[list(y.keys())[i]][3] for i in range(len(list(y.keys()))))
df['Жилая площадь, \xa0м²'] = list(y[list(y.keys())[i]][4] for i in range(len(list(y.keys()))))
df['Площадь кухни, \xa0м²'] = list(y[list(y.keys())[i]][5] for i in range(len(list(y.keys()))))
df['Этаж квартиры'] = list(y[list(y.keys())[i]][6] for i in range(len(list(y.keys()))))
df['Этажей в доме'] = list(y[list(y.keys())[i]][7] for i in range(len(list(y.keys()))))
df['Год постройки'] = list(y[list(y.keys())[i]][8] for i in range(len(list(y.keys()))))


df['Холодильник'] = list(y[list(y.keys())[i]][10] for i in range(len(list(y.keys()))))
df['Посудомоечная машина'] = list(y[list(y.keys())[i]][11] for i in range(len(list(y.keys()))))
df['Мебель в комнатах'] = list(y[list(y.keys())[i]][13] for i in range(len(list(y.keys()))))
df['Телевизор'] = list(y[list(y.keys())[i]][14] for i in range(len(list(y.keys()))))
df['Интернет'] = list(y[list(y.keys())[i]][15] for i in range(len(list(y.keys()))))
df['Кондиционер'] = list(y[list(y.keys())[i]][16] for i in range(len(list(y.keys()))))
df['Душевая кабина'] = list(y[list(y.keys())[i]][17] for i in range(len(list(y.keys()))))
df['Ванна'] = list(y[list(y.keys())[i]][18] for i in range(len(list(y.keys()))))




df['Тип ремонта'] = a
df['Можно с детьми'] = kids
df['Можно с животными'] = pets
df['Полный адрес'] = list(y[list(y.keys())[i]][25] for i in range(len(list(y.keys()))))
df['Улица'] = list(y[list(y.keys())[i]][26] for i in range(len(list(y.keys()))))
df['Район'] = list(y[list(y.keys())[i]][27] for i in range(len(list(y.keys()))))
df['Рекомендованная цена'] = list(y[list(y.keys())[i]][28] for i in range(len(list(y.keys()))))
df['Залог'] = list(y[list(y.keys())[i]][29] for i in range(len(list(y.keys()))))
df['Коммисия'] = list(y[list(y.keys())[i]][30] for i in range(len(list(y.keys()))))
df['Предоплата'] = list(y[list(y.keys())[i]][31] for i in range(len(list(y.keys()))))
df['Длительность съёма'] = list(y[list(y.keys())[i]][32] for i in range(len(list(y.keys()))))
df['Возможность торга'] = list(y[list(y.keys())[i]][33] for i in range(len(list(y.keys()))))





df.style.hide_index()
df.head()

,Собственник,Цена аренды,Описание,"Минимальное время до метро, мин","Общая площадь, м²","Жилая площадь, м²","Площадь кухни, м²",Этаж квартиры,Этажей в доме,Год постройки,...,Можно с животными,Полный адрес,Улица,Район,Рекомендованная цена,Залог,Коммисия,Предоплата,Длительность съёма,Возможность торга
0,Собственник,150000,Сдается в длительную аренду трехкомнатная квар...,8,0,0,0,0,0,0,...,Да,Москва САО р-н Хорошевский ул. Авиаконструктор...,ул. Авиаконструктора Микояна 14к2,САО,217000,150000,0,1,от года,0
1,ELEVEN REALTY,160000,Вашему вниманию предлагается квартира располож...,5,130,80,20,4,5,1903,...,Да,Москва ЦАО р-н Пресненский Большая Садовая ул....,Большая Садовая ул. 10,ЦАО,316000,160000,0,1,от года,0
2,Вероника Кудашова,160000,ЖК Шуваловский. Сдам элегантную трехкомнатную ...,3,110,60,14,6,15,2008,...,Да,Москва ЗАО р-н Раменки Мичуринский просп. 3,Мичуринский просп. 3,ЗАО,196000,160000,0,1,от года,0
3,ID 13539540,160000,"Предлагается в аренду большая, светлая трехк...",15,150,110,30,3,6,1954,...,Да,Москва ЮЗАО р-н Академический ул. Кржижановско...,ул. Кржижановского 23К5,ЮЗАО,188000,160000,0,1,от года,0
4,Собственник,160000,Предлагается в аренду трехкомнатная квартира в...,10,105,0,0,15,29,2017,...,Да,Москва ЗАО р-н Раменки Мосфильмовская ул. 74Б,Мосфильмовская ул. 74Б,ЗАО,212000,0,0,2,от года,0

# Комментарии и предложения

Основная идея: ничего не выкидывать (кроме случаев, когда пропусков больше половины).
Определиться с гипотезами, которые будем проверять и на их основании "резать" таблицу - то есть оставлять строки только со значениями. Очевидно, что для проверки большинства гипотез не будут нужны все признаки, значит некоторыми (например, как раз с пропусками) можно пренебречь

Предлагаю оставить детей, животных, торг: если 1 не стоит, то нет явного изъявления согласия, значит нельзя
Если залог не указан - он не нужен. Аналогично с коммисией и предоплатой.
Отсутствие рекомендованной цены можно обозначить как "не указано" (таких значений 198)

Далее,

In [35]:
len(df[df['Тип ремонта']==0])

158

Давайте оставим ремонт (и поставим "нет данных"), на его основе можно группировать что-нибудь + пропусков не очень много

# Рассмотрим бытовую технику

In [36]:
q = (len(df[df['Холодильник']==0]), 
len(df[df['Мебель в комнатах']==0]),
len(df[df['Телевизор']==0]),
len(df[df['Интернет']==0]),
len(df[df['Кондиционер']==0]),
len(df[df['Душевая кабина']==0]),
len(df[df['Ванна']==0]),
len(df[df['Посудомоечная машина']==0]))

max(q)

809

Максимум меньше половины, можем всё оставить

# Местоположение

In [37]:
len(df[df['Минимальное время до метро, мин']==0])

130

Считаю, можно оставить.

In [38]:
len(df[df['Общая площадь, \xa0м²'] ==0])

136

Отсутсвие общей площади чуть более критично, на мой взгляд. Можем вырезать совсем.

In [39]:
len(df[df['Жилая площадь, \xa0м²']==0])

488

In [40]:
len(df[df['Площадь кухни, \xa0м²']==0])

516

Это довольно большие значения. И информация не самая важная. Но если с оставшимися можно поработать (и у вас есть для них гипотеза), то стоит оставить

In [41]:
len(df[df['Этаж квартиры']==0])

136

In [42]:
len(df[df['Этажей в доме']==0])

136

Если убрать эти, можно проверить гипотезу, в скольки этажных домах большинство трехкомнатных квартир (из доступных для аренды и известных нам по циану)

In [43]:
len(df[df['Год постройки']==0])

726

в принципе, можно проверить гипотезу, аналогичную предыдущей. всё равно будет выборка из более 500 наблюдений - все формальные критерии соблюдены

Рассчитаем количество пропусков и нулевых значений по каждому из признаков в процентах от всех наблюдений. Можно сказать, что количество пропусков точно не превышает полученные значения.

In [44]:
df[df == 0].count(axis=0)/df.shape[0] * 100

Собственник                         0.000000
Цена аренды                         0.000000
Описание                            0.000000
Минимальное время до метро, мин     8.689840
Общая площадь,  м²                  9.090909
Жилая площадь,  м²                 32.620321
Площадь кухни,  м²                 34.491979
Этаж квартиры                       9.090909
Этажей в доме                       9.090909
Год постройки                      48.529412
Холодильник                        11.831551
Посудомоечная машина               28.877005
Мебель в комнатах                  15.574866
Телевизор                          11.363636
Интернет                           19.585561
Кондиционер                        18.783422
Душевая кабина                     35.895722
Ванна                              54.077540
Тип ремонта                        10.561497
Можно с детьми                      0.000000
Можно с животными                   0.000000
Полный адрес                        0.000000
Улица                               0.000000
Район                               0.000000
Рекомендованная цена               15.307487
Залог                               5.080214
Коммисия                           82.419786
Предоплата                          2.473262
Длительность съёма                  0.000000
Возможность торга                  93.449198
dtype: float64